@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myFont;
    src: url(Quesha.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(Romana/Romana.ttf);
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: white;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4 {
    font-size: 20px;
    color: #222;
}
h6 {
    font-weight: 700;
    font-size: 12px;
}
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;

}

.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.02s;
}
button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.02s;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header .all-head{
    display: flex;
    align-items: center;
}
#header .all-head .name-des {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

#header .all-head .name-des a {
    text-decoration: none;
    color: black;
}
#header .all-head .name-des a span {
    font-family: myFont;
    font-size: 40px;
    
}
#header .all-head .name-des .sm-des {
    font-size: 12px;
    color: #1a1a1a;
}
.navbar1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar1 li {
    list-style: none;
    padding: 0px 10px;
    position: relative;
}
.navbar1 li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #1a1a1a;
    transition: 0.3s ease;
}
.navbar1 li a:hover {
   color: rgb(253, 253, 72);
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li {
    list-style: none;
    padding: 0px 10px;
    position: relative;
}
#navbar li span {
    font-size: 12px;
}
#navbar li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #1a1a1a;
    transition: 0.3s ease;
}
/*#navbar li a:hover,
#navbar li a.active {
   color: rgb(253, 253, 72);
}*/
#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details {
    width: 40%;
}
#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2, 
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}
#contact-details .map {
    width: 55%;
    height: 400px;
}
#contact-details .map  iframe{
    width: 100%;
    height: 100%;
}

#form-details  {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding:  80px;
    border: 1px solid #e1e1e1;
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form span {
    font-size: 14px;
}
#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    font-size: 14px;
}
#form-details form  button {
    background-color: rgb(253, 253, 72);
    color: #fff;
    font-size: 16px;
}
#form-details form  button:hover {
    background: #000;
    color: rgb(253, 253, 72);
}
#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;
}
#form-details .people div p {
    margin: 0;
    font-size: 12px;
    line-height: 25px;
}
#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.footer {
    background: black;
    width: 100%;
    padding: 50px 0;
}
.footer .footer-container {
    max-width: 1170px;
    height: 100%;
    margin: auto;
    background: black;
}
ul {
    list-style: none;
}
.footer .footer-container  .footer-row {
    display: flex;
    flex-wrap: wrap;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white ;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight:300;
    color: #bbbbbb;
    display: flex;
    transition: all 0.3s ease;
    align-items: center;
}
.footer-col ul li a:hover {
    cursor: pointer;
    padding-left: 8px;
}
.footer-col ul li  i {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    color: white;
    transition: all 0.5s ease;

}
.footer-col ul li  i:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media (max-width: 799px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 10px;
        
    }
    #header .all-head{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
    }
    #header .all-head .name-des {
        margin-right: 15px;
    }
    #header .all-head .name-des a span {
        font-size: 30px;
    }
    #header .all-head .name-des .sm-des {
        font-size: 10px;
    }
    #header .all-head .navbar1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #header .all-head .navbar1 li {
        padding: 0px 0px;
        margin-right: 10px;
        /*width: 50px;*/
    }
    #header .all-head .navbar1 li a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
        color: #1a1a1a;
        transition: 0.3s ease;
    }
    .navbar1 li a:hover {
       color: rgb(253, 253, 72);
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 0px;
        transition: 0.3s;
    }
    #navbar.active {
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 30px;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag {
        display: none;
    }
    /* contact page */
    #form-details {
        padding: 40px;
    }
    #form-details form {
        width: 50%;

    }

}
@media(max-width: 477px){
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 10px;
        
    }
    #header .all-head{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
    }
    #header .all-head .name-des {
        margin-right: 10px;
    }
    #header .all-head .name-des a span {
        font-size: 25px;
    }
    #header .all-head .name-des .sm-des {
        font-size: 8px;
    }
    #header .all-head .navbar1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #header .all-head .navbar1 li {
        padding: 0px 0px;
        margin-right: 5px;
        /*width: 50px;*/
    }
    #header .all-head .navbar1 li a {
        font-size: 10px;
    }
    .navbar1 li a:hover {
       color: rgb(253, 253, 72);
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #1a1a1a;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 0px;
        transition: 0.3s;
        color: #fff;
    }
    #navbar li a {
        color: #fff;
        padding-left: 10px;
    }
    #navbar.active {
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
        color: #fff;
    }
    #mobile {
        display: flex;
        align-items: center;
        position: absolute;
        top: 25px;
        right: 15px;
        z-index: 10;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 16px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #fff;
        font-size: 24px;
    }
    
    /* contact page */
    #contact-details {
        flex-direction: column;
    }
    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
        font-size: 30px;
    }
    #contact-details .details h2{
        font-size: 20px;
        line-height: 20px;
    }
    #contact-details .details h3 {
        font-size: 12px;
    }
    #contact-details .map {
        width: 100%;
    }
    #form-details {
        margin: 10px;
        padding: 30px 10px;
        border: 1px solid #e1e1e1;
        flex-wrap:wrap;
    }
    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }
    /* cart page */
    #cart-add {
        flex-direction: column;
    }
    #coupon {
        width: 100%;
    }
    #subtotal {
        width: 100%;
    }
}